@{
  Layout = "_Layout";
}

@model Bakery.Models.Treat

<h2>Add any flavor</h2>

<h4>Pick a flavor for this treat: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)

  @Html.Label("Select a flavor")
  @Html.DropDownList("FlavorId")


  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>